<h2 class="text-special" [class]="successClass">Demo code</h2>
<h3 [class.text-danger]="hasError">Demo code</h3>
<h4 [ngClass]="messageClasses">Demo code</h4>
<h4 [style.color]="hasError ? 'red' : 'green'">Style Binding</h4>
<h4 [style.color]="highlightColor">Style Binding 2</h4>
<h4 [ngStyle]="titleStyles">Style Binding 3</h4>
<button (click)="onClick($event)">Greet</button>
{{greeting}}<br />
<input #myInput type="text" />
<button (click)="logMessage(myInput.value)">Log</button>
<input [disabled]="isDisabled" [id]="myId" type="text" value="Demo" />
<input [(ngModel)]="name" type="text" />
{{name}}
<!-- <h2 *ngIf="displayName; else elseBlock">Demo directives</h2> -->
<div *ngIf="displayName; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <h2>Demo ngIf</h2>
</ng-template>
<ng-template #elseBlock>
  <h2>Name is hidden</h2>
</ng-template>
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">You chose the red color</div>
  <div *ngSwitchCase="'blue'">You chose the blue color</div>
  <div *ngSwitchCase="'green'">You chose the green color</div>
  <div *ngSwitchDefault>Choose again</div>
</div>
<div *ngFor="let color of colors; index as i; first as f; last as l; even as e; odd as o">
  <h2>{{i}} {{f}} {{l}} {{e}} {{o}} {{color}}</h2>
</div>